<section class="main-footer">
    <h2 class="h2-">Agências de fomento</h2>
    <ul>
        <li>
            <figure >
                <img class="logo-img" src="assets/img/agencia-de-fomento/IFSULDEMINAS_vertical.png" alt="">
            </figure>
        </li>
        <li>
            <figure >
                <img class="logo-img" src="assets/img/agencia-de-fomento/nova_logo_eps-fapemig.jpg" alt="">
            </figure>
        </li>
        <li>
            <figure >
                <img class="logo-img" src="assets/img/agencia-de-fomento/CNPq_v2017_rgb.jpg" alt="">
            </figure>
        </li>
    </ul>

</section>