<section class="home-section">
<h2 class="h2-">Carta de Apresentação</h2>
  <p>O <b>GOPAD</b> visa promover pesquisas e estudos nas áreas de computação, desenvolvimento de sistemas computacionais e organização, processamento e análise de grandes volumes de dados. O objetivo é desenvolver soluções inovadoras e eficientes que atendam às demandas acadêmicas e industriais, contribuindo para o avanço tecnológico e científico. Além disso, o grupo busca capacitar estudantes, fomentar parcerias estratégicas e disseminar conhecimento através de estudos e publicações.</p>

  <p class="ol-title ">Dentre as diversas atividades realizadas pelo GOPAD, destaca-se:</p>

  <ol class="gopad-actv">
    <li>Pesquisas Acadêmicas: Desenvolvimento de projetos de pesquisa em áreas como mineração de dados, aprendizado de máquina, big data, e engenharia de software.</li>
    <li>Desenvolvimento de Sistemas: Criação de protótipos e sistemas computacionais para resolver problemas reais, incluindo gestão de bases de dados e interfaces de usuário.</li>
    <li>Colaborações e Parcerias: Estabelecimento de parcerias com outras instituições acadêmicas e empresas para fomentar a troca de conhecimentos e experiências.</li>
    <li>Publicações Científicas: Redação e submissão de artigos científicos em revistas e conferências renomadas.</li>
    <li>Treinamento e Capacitação: Oferecimento de cursos e treinamentos para membros do grupo e a comunidade em geral, visando a capacitação em ferramentas e técnicas de análise de dados.</li>
  </ol>
</section>