<section class="publication-section">
    <h2>Publicações</h2>
    <section>
        <div class="pub">
            FERREIRA, HIRAN N. M.; ARAÚJO, RAFAEL ; DORÇA, FABIANO ; CATTELAN, RENAN . Integração de técnicas de inteligência artificial para modelagem probabilística do estudante em ambientes virtuais de aprendizagem. TECNOLOGIAS, SOCIEDADE E CONHECIMENTO, v. 10, p. 38-67, 2024.
        </div>

        <div class="pub">
            SILVA, J. C. C. ; FERREIRA, HIRAN N.M. . Arquitetura Computacional para Adaptação de Questões para Estudantes Neurodivergentes Fundamentada em Recursos de Inteligência Artificial Generativa. In: Encontro Nacional de Computação dos Institutos Federais (EncompIF), 2024, Brasília. Anais do 11º Encontro Nacional de Computação dos Institutos Federais (EncompIF). Porto Alegre: SBC, 2024. v. 11. p. 1-8.
        </div>

        <div class="pub">
            SILVA, V. A. ; FERREIRA, HIRAN NONATO M. ; TORRES, A. A. ; RODRIGUES, F. C. . Math Suggestion: Uma Ferramenta de Recomendação de Objetos de Aprendizagem Fundamentada nos Princípios das Avaliações de Autoeficácia e Análise de Desempenho. In: Simpósio Brasileiro de Informática na Educação (SBIE 2021), 2021, Evento Online. Anais do XXXII Simpósio Brasileiro de Informática na Educação. Porto Alegre/RS: SBC, 2021. v. 1. p. 237-248.
        </div>

        <div class="pub">
            FERREIRA, HIRAN; DE OLIVEIRA, GUILHERME P. ; ARAÚJO, RAFAEL ; DORÇA, FABIANO ; CATTELAN, RENAN . Technology-enhanced assessment visualization for smart learning environments. Smart Learning Environments, v. 6, p. 1-17, 2019.
        </div>

    </section>
</section>