<section class="members-section">
    <h2>Membros do grupo</h2>
    <ul class="members-list">
        <!-- <li *ngFor="let i of members">
            <app-member-card [member]="i"></app-member-card>
        </li> -->
        <li><app-member-card [email]="'ricardo.morsoleto.developergmail.com'" [lattes]="'https://lattes.cnpq.br/4331319177647655'" [name]="'Ricardo Morsoleto'" [interests]="['Programação', 'Problem Solving']" [orcid]="'https://orcid.org/0009-0005-4406-764Xs'" [degree]="'Graduando em Ciência da Computação'" [photo]="'assets/img/200x200/ricardomorsoleto.gif'"></app-member-card></li>
        <li><app-member-card [email]="'maria1.batista@alunos.ifsuldeminas.edu.br'" [lattes]="'https://lattes.cnpq.br/1329540588253645'" [name]="'Maria Clara Batista'" [interests]="['Ciências de Dados','Machine Learning']" [orcid]="' https://orcid.org/0009-0008-3830-1710'" [degree]="'Graduando em Ciência da Computação'" [photo]="'assets/img/200x200/mariabatista.gif'"></app-member-card></li>

        <li><app-member-card [email]="'julio.prog124@gmail.com'" [lattes]="'https://lattes.cnpq.br/2088595653369526'" [name]="'Júlio César Da Costa Silva'" [interests]="['Área da computação']" [orcid]="' https://orcid.org/0009-0008-5278-478X'" [degree]="'Graduando em Ciência da Computação'" [photo]="'assets/img/200x200/juliocesar.gif'"></app-member-card></li>

        <li><app-member-card [email]="'hiran.ferreira@ifsuldeminas.edu.br'" [lattes]="'https://lattes.cnpq.br/6814993444976680'" [name]="'Hiran Nonato Macedo Ferreira'" [interests]="['Algoritmos', 'Ciência de dados', 'Interação Humano-Computador']" [orcid]="' https://orcid.org/0000-0002-4977-9495'" [degree]="'Doutor em Ciência da Computação'"></app-member-card></li>

        <li><app-member-card [email]="'milnnernj@gmail.com'" [lattes]="'https://lattes.cnpq.br/3633024317437758'" [name]="'Milnner Kauan Torres Andrade'" [interests]="['Análise Preditiva de Dados', 'Otimização']" [orcid]="''" [degree]="'Graduando em Ciência da Computação'"></app-member-card></li>
        
        <li><app-member-card [email]="'vinicius.silva@ifsuldeimnas.edu.br'" [lattes]="'http://lattes.cnpq.br/8402004260858548'" [name]="'Vinícius Alves Silva'" [interests]="['Engenharia de Software', 'Informática na Educação', 'Ciência de Dados']" [orcid]="' https://orcid.org/0000-0002-0726-7379'" [degree]="'Doutor em Ciência da Computação'"></app-member-card></li>
    </ul>    
</section>
  