@import "../../sass/colors"

.member-card
  display: flex
  flex-flow: column
  align-items: center
  margin: 0 0 60px 0 
  width: 350px

  .photoSpan
    margin: 0 0 30px 0
    .photo
      height: 125px
      width: 125px
      border-radius: 25px
  

    figure
      height: 125px
      width: 125px
      margin: 0
      padding: 0
      border: 0

  .member-info
    padding: 25px 0 0 0
    display: block
    height: 225px
    line-break: anywhere
    overflow-x: hidden
    border-left: dashed 2px #000
    padding: 2px 10px 

    .name
      position: relative
      margin: 0 0 15px 0
      font-size: 1.1rem
      font-weight: 700

    > *
      display: block
      font-size: 0.9rem
      font-weight: 400

    > * span
      font-weight: 600


    &:hover
      overflow-x: visible
